<!-- The side navigation bar -->
<div class="phenom">
    <p id="detect">Physical phenomena</p>
    <mat-checkbox [(ngModel)]="fire" id="fire" value="Fire">Fire</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="flood" id="flood" value="Flood">Flood</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="hurricane" id="hurricane" value="Hurricane">Hurricane</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="snow" id="snow" value="Snow/Snowstorm">Snow/Snowstorm</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="rain" id="rain" value="Rain/Rainstorm">Rain/Rainstorm</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="balllightning" id="balllightning" value="Ball lightning">Ball lightning
    </mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="hail" id="hail" value="Hail">Hail</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="wind" id="wind" value="Wind/Windstorm">Wind/Windstorm</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="pollution" id="pollution" value="pollution">Pollution</mat-checkbox>
    <br>
    <mat-checkbox [(ngModel)]="ingredients" id="ingredients" value="Object's ingredients">Object's ingredients
    </mat-checkbox>
    <br><br>
</div>
<button (click)="onClick()" id="nextButton" mat-raised-button routerLink="/main/phenomenon-detection2">Next</button>
