.footer-container {
    /*position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height:7%;
    margin-top:-25px;
    background-color: #595959;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/

    color: white;
    background-color: #595959;
    align-self: flex-end;
    flex-shrink: 0;
    /*flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
    text-align: center;
}

p.copyright {
    margin-bottom: 0 !important;
}
