mat-form-field {
    margin-right: 12px;
}
.metrics{
    margin-top:80px;
}
#detect,#appearance{
    font-size:18px;
}
#goButton{
    margin: 0 auto; 
    display: block;
    background-color: #808080;
    color:white;
}
.alert-error-text {
    color: red;
    font-weight: bold;
    text-align:center;
}
.alert-success-text {
    color: green;
    font-weight: bold;
    text-align:center;
}