mat-form-field {
    margin-right: 12px;
}

.metrics {
    margin-top: 0.5em;
}

#detect, #appearance {
    font-size: 1em;
}

#goButton {
    margin: 0 auto;
    display: block;
    background-color: #808080;
    color: white;
}
