<!-- The side navigation bar -->
<div class="content">
    <div class="metrics">
        <p id="detect">Metrics</p>
        <mat-checkbox [(ngModel)]="shape" id="shape" value="Shape">Shape</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="size" id="size" value="Size">Size</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="speed" id="speed" value="Speed">Speed</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="altitude" id="altitude" value="Altitude">Altitude</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="direction" id="direction" value="Direction">Direction</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="footprint" id="footprint" value="Footprint">Footprint</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="location" id="location" value="Location">Location</mat-checkbox>
        <br>
    </div>
    <br>
    <div class="places">
        <p id="appearance">Specific location</p>
        <mat-checkbox [(ngModel)]="sea" id="sea" value="Sea">Sea</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="ashore" id="ashore" value="Ashore">Ashore</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="ashoreWithAltitude" id="ashorewithaltitude" value="Ashore with altitude">Ashore with
            altitude
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="ashoreInSlope" id="ashoreinslope" value="Ashore in slope">Ashore in slope
        </mat-checkbox>
        <br><br>
    </div>
    <button (click)="getResults()" id="goButton" mat-raised-button>Go</button>
</div>
