.filler {
    flex: 1 1 auto;
 }
 ::ng-deep div.mat-menu-panel {
    min-width: 112px;
    max-width: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
 }
 .topItem{
    font-size: 20px;
 }
 .items{
    margin-left:10px;
 }