<div class="custom-dialog">
	<h2 mat-dialog-title>Results</h2>
	<mat-dialog-content *ngFor="let result of response">
		<p>{{result.role}}</p>
		<p>{{result.object_title}}</p>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-raised-button class="button" [mat-dialog-close]="false" value='Next object'(click)="onClickNext()">Next object</button>
		<button mat-raised-button class="button" [mat-dialog-close]="true" value='OK' (click)="onClickOK()">OK</button>
		<button mat-raised-button class="button" [mat-dialog-close]="true" value='New search' routerLink="/main/detect">New search</button>
	</mat-dialog-actions>
</div>