<div class="custom-dialog">
	<h2 mat-dialog-title>Results</h2>
	<mat-dialog-content>
		<p>
			{{modalMessage}}
		</p>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-raised-button class="button" [mat-dialog-close]="false" value='Next phenomenon'>Next phenomenon</button>
		<button mat-raised-button class="button" [mat-dialog-close]="true" value='OK'>OK</button>
		<button mat-raised-button class="button" [mat-dialog-close]="true" value='New search'>New search</button>
	</mat-dialog-actions>
</div>