<div class="main">
    <!--<mat-sidenav-container>
        <mat-sidenav-content> -->
        <header>
            <div>
                <mat-toolbar *ngIf="router.url=='/home'" class="topBar" role="heading">
                    <a routerLink="/home" class="toolbar-brand">
                        <svg-icon name="alcyone-icon" [svgStyle]="{ 'width.em':1, 'height.em':1, 'font-size.em':3 }"></svg-icon>
                    </a>
                    <h2>Alcyone</h2>
                </mat-toolbar>
            </div>
        </header>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <div class="">
        <app-footer *ngIf="router.url=='/home'" class=""  id="app-footer"></app-footer>
    </div>
    <!--</mat-sidenav-content>
</mat-sidenav-container>-->
</div>
