mat-form-field {
    margin-right: 12px;
}

/*#width, #height {
    width: 80%;
}*/

#goButton {
    margin: 0 auto;
    display: block;
    background-color: #808080;
    color: white;

}

.search {
    margin-top: 0.5em;
}

#appearance, #searchwith, #calculate {
    font-size: 1em;
}

.alert-error-text {
    color: red;
    font-weight: bold;
    text-align: center;
}

.alert-success-text {
    color: green;
    font-weight: bold;
    text-align: center;
}

.my-mat-checkbox{
    padding-left: 1em;
    padding-bottom: 0.5em;
}

/* Progress Spinner */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    margin-top: -1.1em;
    margin-left: -1.1em;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #313131de;
    animation: spinner .8s linear infinite;
}
