<mat-sidenav-container fullscreen>
    <mat-sidenav-content>
      <mat-toolbar color = "primary">
        <button mat-button [matMenuTriggerFor]="file">File</button>
        <mat-menu #file="matMenu" yPosition="above">
          <button mat-menu-item (click)="openInput()">Open</button>
          <input hidden type="file" id="fileInput" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          <button mat-menu-item>Save picture</button>
          <button mat-menu-item>Close picture</button>
        </mat-menu>      
        <button mat-button [matMenuTriggerFor]="edit">Edit</button>
        <mat-menu #edit="matMenu" yPosition="above">
          <button mat-menu-item>Add a tag</button>
          <button mat-menu-item>Add day and time to detected object and phenomenon</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="tools">Tools</button>
        <mat-menu #tools="matMenu" yPosition="above">
          <button mat-menu-item>Calculate the distance between two objects</button>
          <button mat-menu-item>Calculate latitude and longitude</button>
          <button mat-menu-item>Create statistics for a phenomenon</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="help">Help</button>
        <mat-menu #help="matMenu" yPosition="above">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <span class = "filler"></span>
      </mat-toolbar>
      <div class="main-content">
        <img [src]="imageUrl">
      </div>
    </mat-sidenav-content>
    <mat-sidenav mode="side" #sidenav opened position="start">
        <div class="features">Calculate<br>
        <mat-checkbox id="Shape" class="calculate" name="shape" value="Shape" [(disabled)]="disabledShape" [(ngModel)]="checkedShape" data-md-icheck 
        (change)="onChangeShape($event)">Shape</mat-checkbox><br>
        <mat-checkbox id="size" class="calculate" name="size" value="Size" [(disabled)]="disabledSize" [(ngModel)]="checkedSize" data-md-icheck
        (change)="onChangePhe($event)">Size</mat-checkbox></div><br>
        <button mat-raised-button id="goButton" (click)="getValue()">Go</button>
    </mat-sidenav>
</mat-sidenav-container>