.filler {
   flex: 1 1 auto;
}
::ng-deep div.mat-menu-panel {
   min-width: 112px;
   max-width: 500px;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   max-height: calc(100vh - 48px);
   border-radius: 4px;
   outline: 0;
}
.sideBar {
   width: 17%;
   padding:12px;
   background-color: #4b4276;
   color:#fff;
   position: fixed;
   left: 0;
   align-items: center;
   justify-content: center;
   height:100vh;
   
}
.topBar { 
   background-color:	#808080;
   color:#fff;
   position: fixed;
   z-index: 2;
}

.topItem{
   font-size: 20px;
}
.items{
   margin-left:10px;
}
#logo{
   margin-left:-15px;
}
.image{
   width:85vw;
   height:100vh;
   border:none;
   outline:none;
   margin-left:17%;
   position: fixed;
}