#p1{
    position: absolute;
    top:10%;
    left:10%;
    color: #595959;
    font-size: 45px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 20px;  
}
#p2{
    position: absolute;
    top: 60%;
    left:60%;
    color: #595959; 
    font-size: 25px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 20px;
}
#button{
    position: absolute;
    top: 75%;
    left:75%;
    background-color: #808080;
    color:white;
}
#image{
    left: 0;
    right: 0;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}